<header class="page-header inner">
    <div class="container animate-up">
    <a href="/" class="back">
        <img src="/images/back.svg" alt="" />
    </a>
    <h1><%= title %> </h1>
    </div>
</header>

<!--
    Fazendo o reaproveitamento com o ejs.
    Com isso eu consigo reduzir o tamanho do meu html e
    reaproveitar e reutilizar os meus códigos que são
    parecidos. (Tudo que for padrão para a minha pagina eu consigo
    reaproveitar usando esse método).
-->